.Post {
  display: flex;
  padding: 5px;
}

.Post:hover {
  cursor: pointer;
  background-color: lightgray;
}

.PostContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.PostText {
  white-space: pre-wrap;
}
